<a href="https://colab.research.google.com/github/OwensP036/Surekidder-/blob/main/Copy_of_Project_1_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


df = pd.read_csv ('https://raw.githubusercontent.com/OwensP036/Surekidder-/main/SNAP_history_1969_2019.csv')

#mean for all values
df.mean(axis = 1, skipna = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys

0       6.63
1      10.55
2      13.55
3      13.48
4      14.60
5      17.61
6      21.40
7      23.93
8      24.71
9      26.77
10     30.59
11     34.47
12     39.49
13     39.17
14     42.98
15     42.74
16     44.99
17     45.49
18     45.78
19     49.83
20     51.71
21     58.78
22     63.78
23     68.57
24     67.95
25     69.00
26     71.27
27     73.21
28     71.27
29     71.12
30     72.27
31     72.62
32     74.81
33     79.67
34     83.94
35     86.16
36     92.89
37     94.75
38     96.18
39    102.19
40    125.31
41    133.79
42    133.85
43    133.41
44    133.07
45    125.01
46    126.81
47    125.40
48    125.47
49    124.50
50    129.83
dtype: float64

In [ ]:
# Minimum values
df.min(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0       6.63
1      10.55
2      13.55
3      13.48
4      14.60
5      17.61
6      21.40
7      23.93
8      24.71
9      26.77
10     30.59
11     34.47
12     39.49
13     39.17
14     42.98
15     42.74
16     44.99
17     45.49
18     45.78
19     49.83
20     51.71
21     58.78
22     63.78
23     68.57
24     67.95
25     69.00
26     71.27
27     73.21
28     71.27
29     71.12
30     72.27
31     72.62
32     74.81
33     79.67
34     83.94
35     86.16
36     92.89
37     94.75
38     96.18
39    102.19
40    125.31
41    133.79
42    133.85
43    133.41
44    133.07
45    125.01
46    126.81
47    125.40
48    125.47
49    124.50
50    129.83
dtype: float64

In [ ]:
corrM = df.corr()
corrM

                            Average Benefit Per Person
Average Benefit Per Person                         1.0